
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

In [34]:
import numpy as np
import pandas as pd

In [35]:
iris=pd.read_csv(r"C:\Users\pavan\Downloads\Iris.csv")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

### What are the column names in the Iris dataset?

In [8]:
columns=iris.columns
columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### How many rows and columns are there in the dataset?

In [16]:
count=iris.shape
count

(165, 6)

### Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [36]:
summary=iris.describe()
summary

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

### ID

In [37]:
id=iris['Id']
id

0        1
1        2
2        3
3        4
4        5
      ...
160    161
161    162
162    163
163    164
164    165
Name: Id, Length: 165, dtype: int64

In [38]:
id.median()

83.0

In [53]:
id.var()

2282.5

In [54]:
ran=id.max()-id.min()
ran

164

### SepalLength

In [47]:
sepallength=iris['SepalLengthCm']
sepallength

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [42]:
sepallength.median()

5.8

In [43]:
sepallength.var()

124.61245031055901

In [55]:
ran2=sepallength.max()-sepallength.min()
ran2

112.0

### SepalWidth

In [56]:
sepallength=iris['SepalWidthCm']
sepalwidth

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [51]:
sepalwidth.median()

3.0

In [52]:
sepalwidth.var()

181.41393838070218

In [57]:
ran3=sepalwidth.max()-sepalwidth.min()
ran3

128.0

### PetalLength

In [58]:
petallength=iris['PetalLengthCm']
petallength

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [59]:
petallength.median()

4.5

In [60]:
petallength.var()

4.212775256747074

In [61]:
ran4=petallength.max()-petallength.min()
ran4

12.8

### PetalWidth

In [62]:
petalwidth=iris['PetalWidthCm']
petalwidth

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [64]:
petalwidth.median()

1.5

In [65]:
petalwidth.var()

146.35488026607536

In [66]:
ran5=petalwidth.max()-petalwidth.min()
ran5

111.0

## What is the average sepal length?

In [26]:
petallength=iris['SepalLengthCm']
petallength

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [27]:
average=petallength.mean()

In [28]:
average

7.510559006211181

## what is the largest petal length, and what is its value?

In [29]:
largest_petal_length=petallength.max()

In [30]:
largest_petal_length

116.3

## What is the mean and standard deviation of petal width for the Setosa species?

In [50]:
setosa_species=iris.iloc[1:51,[4,5]]
setosa_species

    PetalWidthCm          Species
1            0.2      Iris-setosa
2            0.2      Iris-setosa
3           10.2      Iris-setosa
4            0.2      Iris-setosa
5            0.4              NaN
6            0.3      Iris-setosa
7            0.2      Iris-setosa
8            0.2      Iris-setosa
9            0.1      Iris-setosa
10           0.2      Iris-setosa
11           0.2      Iris-setosa
12          10.1      Iris-setosa
13           0.1      Iris-setosa
14           0.2      Iris-setosa
15           0.4      Iris-setosa
16           0.4      Iris-setosa
17           0.3      Iris-setosa
18           0.3      Iris-setosa
19           0.3      Iris-setosa
20           0.2      Iris-setosa
21           0.4      Iris-setosa
22           0.2      Iris-setosa
23           0.5      Iris-setosa
24           0.2      Iris-setosa
25           0.2      Iris-setosa
26           0.4      Iris-setosa
27           0.2      Iris-setosa
28         110.2      Iris-setosa
29           0.2      Iris-setosa
30           0.2      Iris-setosa
31           0.4      Iris-setosa
32           0.1      Iris-setosa
33           0.2      Iris-setosa
34           0.1      Iris-setosa
35           0.2      Iris-setosa
36           0.2      Iris-setosa
37           0.1      Iris-setosa
38           0.2      Iris-setosa
39           0.2      Iris-setosa
40           0.3      Iris-setosa
41           0.3      Iris-setosa
42           0.2      Iris-setosa
43           0.6              NaN
44           0.4      Iris-setosa
45           0.3      Iris-setosa
46           0.2      Iris-setosa
47           0.2      Iris-setosa
48           0.2      Iris-setosa
49           0.2      Iris-setosa
50           1.4  Iris-versicolor

In [52]:
petalwidth_setosa=setosa_species['PetalWidthCm']
petalwidth_setosa

1       0.2
2       0.2
3      10.2
4       0.2
5       0.4
6       0.3
7       0.2
8       0.2
9       0.1
10      0.2
11      0.2
12     10.1
13      0.1
14      0.2
15      0.4
16      0.4
17      0.3
18      0.3
19      0.3
20      0.2
21      0.4
22      0.2
23      0.5
24      0.2
25      0.2
26      0.4
27      0.2
28    110.2
29      0.2
30      0.2
31      0.4
32      0.1
33      0.2
34      0.1
35      0.2
36      0.2
37      0.1
38      0.2
39      0.2
40      0.3
41      0.3
42      0.2
43      0.6
44      0.4
45      0.3
46      0.2
47      0.2
48      0.2
49      0.2
50      1.4
Name: PetalWidthCm, dtype: float64

In [53]:
petalwidth_setosa.mean()

2.8679999999999994

In [54]:
petalwidth_setosa.std()

15.61278178615332

### Check for missing values in the dataset

In [5]:
missingvalues=iris.isnull()
missingvalues

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

### Extract the Species column using loc and iloc method

In [17]:
species=iris.loc[0:,['Species']]
species

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

In [20]:
species=iris.iloc[0:,[5]]
species

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

### Drop sepal Width column

In [28]:
iris.drop('SepalWidthCm',axis=1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

### Get petalwidth 10th value using at and iat

In [30]:
petalw=iris.at[10,'PetalWidthCm']
petalw

0.2

In [32]:
petalwi=iris.iat[10,4]
petalwi

0.2