In [ ]:
Customer ID - Unique identifier for each customer
Age - Age of the customer
Gender - Gender of the customer (Male/Female)
Item Purchased - The item purchased by the customer
Category - Category of the item purchased
Purchase Amount (USD) - The amount of the purchase in USD
Location - Location where the purchase was made
Size - Size of the purchased item
Color - Color of the purchased item
Season - Season during which the purchase was made
Review Rating - Rating given by the customer for the purchased item
Subscription Status - Indicates if the customer has a subscription (Yes/No)
Shipping Type - Type of shipping chosen by the customer
Discount Applied - Indicates if a discount was applied to the purchase (Yes/No)
Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No)
Previous Purchases - The total count of transactions concluded by the customer at the store, excluding the ongoing transaction
Payment Method - Customer's most preferred payment method
Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly)

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel(r"C:\Users\pavan\Downloads\shopping.xlsx")

### missing values

In [5]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
df.isnull().sum()

Customer ID               30
Age                        2
Gender                     5
Item Purchased             4
Category                   4
Purchase Amount (USD)      0
Location                   2
Size                       0
Color                      4
Season                     3
Review Rating              2
Subscription Status        2
Shipping Type              0
Discount Applied           7
Promo Code Used            7
Previous Purchases         0
Payment Method             4
Frequency of Purchases     3
dtype: int64

In [10]:
df.drop('Customer ID',axis=1,inplace=True)

In [11]:
df["Age"].fillna(df["Age"].median(),inplace=True)

In [12]:
df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)

In [14]:
df["Item Purchased"].fillna(df["Item Purchased"].mode()[0],inplace=True)

In [16]:
df["Category"].fillna(df["Category"].mode()[0],inplace=True)

In [17]:
df["Location"].fillna(df["Location"].mode()[0],inplace=True)

In [18]:
df["Color"].fillna(df["Color"].mode()[0],inplace=True)

In [19]:
df["Season"].fillna(df["Season"].mode()[0],inplace=True)

In [30]:
df['Review Rating'].fillna(df["Review Rating"].mean(),inplace=True)

In [21]:
df["Subscription Status"].fillna(df["Subscription Status"].mode()[0],inplace=True)

In [23]:
df["Discount Applied"].fillna(df["Discount Applied"].mode()[0],inplace=True)

In [25]:
df["Promo Code Used"].fillna(df["Promo Code Used"].mode()[0],inplace=True)

In [26]:
df["Payment Method"].fillna(df["Payment Method"].mode()[0],inplace=True)

In [27]:
df["Frequency of Purchases"].fillna(df["Frequency of Purchases"].mode()[0],inplace=True)

In [31]:
df.isnull().sum()

Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [32]:
df.dropna(axis=0,inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2682 non-null   float64
 1   Gender                  2682 non-null   object
 2   Item Purchased          2682 non-null   object
 3   Category                2682 non-null   object
 4   Purchase Amount (USD)   2682 non-null   int64
 5   Location                2682 non-null   object
 6   Size                    2682 non-null   object
 7   Color                   2682 non-null   object
 8   Season                  2682 non-null   object
 9   Review Rating           2682 non-null   float64
 10  Subscription Status     2682 non-null   object
 11  Shipping Type           2682 non-null   object
 12  Discount Applied        2682 non-null   object
 13  Promo Code Used         2682 non-null   object
 14  Previous Purchases      2682 non-null   int64
 15  Payment Method          2682 non-null   object
 16  Frequency of Purchases  2682 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 356.3+ KB

## Outliers

In [35]:
condition=df[(df["Age"]>100) | (df["Age"]<0)]

In [39]:
condition=40

In [41]:
df.drop(df[(df["Review Rating"]>5) | (df["Review Rating"]<0)].index,inplace=True)

## duplicates

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.duplicated().sum()

0

## Type casting

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2646 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2646 non-null   float64
 1   Gender                  2646 non-null   object
 2   Item Purchased          2646 non-null   object
 3   Category                2646 non-null   object
 4   Purchase Amount (USD)   2646 non-null   int64
 5   Location                2646 non-null   object
 6   Size                    2646 non-null   object
 7   Color                   2646 non-null   object
 8   Season                  2646 non-null   object
 9   Review Rating           2646 non-null   float64
 10  Subscription Status     2646 non-null   object
 11  Shipping Type           2646 non-null   object
 12  Discount Applied        2646 non-null   object
 13  Promo Code Used         2646 non-null   object
 14  Previous Purchases      2646 non-null   int64
 15  Payment Method          2646 non-null   object
 16  Frequency of Purchases  2646 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 372.1+ KB

In [47]:
df["Age"] = df["Age"].astype("float64")

df["Review Rating"] = df["Review Rating"].astype("float16")

df["Previous Purchases"] = df["Previous Purchases"].astype("int8")

df["Purchase Amount (USD)"] = df["Purchase Amount (USD)"].astype("int8")

## Variance

In [48]:
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly

In [51]:
df.Age.var()

234.97800882167613

In [53]:
df.Gender.nunique()

1

In [75]:
df.drop('Gender',axis=1,inplace=True)

In [56]:
df['Item Purchased'].nunique()

25

In [57]:
df['Category'].nunique()

4

In [59]:
df['Purchase Amount (USD)'].var()

568.002425175069

In [60]:
df.Location.nunique()

50

In [61]:
df.Size.nunique()

4

In [64]:
df.Color.nunique()

25

In [65]:
df.Season.nunique()

4

In [67]:
df['Review Rating'].var()

0.5093

In [68]:
df['Subscription Status'].nunique()

2

In [69]:
df['Shipping Type'].nunique()

6

In [70]:
df['Discount Applied'].nunique()

2

In [71]:
df['Previous Purchases'].var()

206.3113368682907

In [72]:
df['Payment Method'].nunique()

6

In [73]:
df['Frequency of Purchases'].nunique()

7

In [77]:
df.head()

,Age,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly

## Dummy Variables

### one Heart Coding

In [79]:
pd.get_dummies(df['Category'],dtype=int)

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
2               0         1         0          0
3               0         0         1          0
5               0         0         1          0
6               0         1         0          0
...           ...       ...       ...        ...
2663            0         0         1          0
2664            0         1         0          0
2665            1         0         0          0
2666            0         1         0          0
2667            0         0         1          0

[2646 rows x 4 columns]

In [80]:
pd.get_dummies(df['Season'],dtype=int)

      Fall  Spring  Summer  Winter
0        0       0       0       1
2        0       1       0       0
3        0       1       0       0
5        0       0       1       0
6        1       0       0       0
...    ...     ...     ...     ...
2663     0       0       1       0
2664     0       1       0       0
2665     1       0       0       0
2666     0       0       1       0
2667     0       0       1       0

[2646 rows x 4 columns]

In [82]:
pd.get_dummies(df['Shipping Type'],dtype=int)

,2-Day Shipping,Express,Free Shipping,Next Day Air,Standard,Store Pickup
0,0,1,0,0,0,0
2,0,0,1,0,0,0
3,0,0,0,1,0,0
5,0,0,0,0,1,0
6,0,0,1,0,0,0
...,...,...,...,...,...,...
2663,1,0,0,0,0,0
2664,0,0,0,1,0,0
2665,0,0,0,0,0,1
2666,0,0,0,0,1,0
2667,0,0,0,0,0,1

## Normalisation/Scaling

In [89]:
df.columns

Index(['Age', 'Item Purchased', 'Category', 'Purchase Amount (USD)',
       'Location', 'Size', 'Color', 'Season', 'Review Rating',
       'Subscription Status', 'Shipping Type', 'Discount Applied',
       'Promo Code Used', 'Previous Purchases', 'Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [84]:
df.Age.mean()

44.1031746031746

In [85]:
df.Age.median()

44.0

In [86]:
def normalization(x):
    n = (x-df["Age"].min())/(df["Age"].max()-df["Age"].min())
    return n

In [87]:
df["Age"].apply(normalization)

0       0.711538
2       0.615385
3       0.057692
5       0.538462
6       0.865385
          ...
2663    0.807692
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
Name: Age, Length: 2646, dtype: float64

In [90]:
df['Purchase Amount (USD)'].mean()

59.54383975812547

In [91]:
df['Purchase Amount (USD)'].median()

60.0

In [92]:
def normalization(x):
    n=(x-df['Purchase Amount (USD)'].min())/(df['Purchase Amount (USD)'].max()-df['Purchase Amount (USD)'].min())
    return n

In [93]:
df['Purchase Amount (USD)'].apply(normalization)

0       0.4125
2       0.6625
3       0.8750
5       0.0000
6       0.8125
         ...
2663    0.4750
2664    0.8000
2665    0.0125
2666    0.1875
2667    0.2875
Name: Purchase Amount (USD), Length: 2646, dtype: float64

In [94]:
df['Review Rating'].mean()

3.756

In [95]:
df['Review Rating'].median()

3.8

In [96]:
def normalization(x):
    n=(x-df['Review Rating'].min())/(df['Review Rating'].max()-df['Review Rating'].min())
    return n

In [97]:
df['Review Rating'].apply(normalization)

0       0.239844
2       0.239844
3       0.400000
5       0.160156
6       0.279687
          ...
2663    0.320312
2664    0.560156
2665    0.560156
2666    0.679688
2667    0.840625
Name: Review Rating, Length: 2646, dtype: float64

In [98]:
df['Previous Purchases'].mean()

25.73167044595616

In [99]:
df['Previous Purchases'].median()

26.0

In [100]:
def normalization(x):
    n=(x-df['Previous Purchases'].min())/(df['Previous Purchases'].max()-df['Previous Purchases'].min())
    return n

In [101]:
df['Previous Purchases'].apply(normalization)

0       0.265306
2       0.448980
3       0.979592
5       0.265306
6       0.979592
          ...
2663    0.489796
2664    0.265306
2665    0.265306
2666    0.918367
2667    0.530612
Name: Previous Purchases, Length: 2646, dtype: float64

In [102]:
df.describe()

               Age  Purchase Amount (USD)  Review Rating  Previous Purchases
count  2646.000000            2646.000000    2646.000000         2646.000000
mean     44.103175              59.543840       3.755859           25.731670
std      15.328992              23.832801       0.713867           14.363542
min      18.000000              20.000000       2.500000            1.000000
25%      31.000000              38.000000       3.099609           14.000000
50%      44.000000              60.000000       3.800781           26.000000
75%      57.000000              80.000000       4.398438           38.000000
max      70.000000             100.000000       5.000000           50.000000

In [104]:
df

,Age,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,50.0,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,46.0,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.900391,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,63.0,Shirt,Clothing,85,Montana,M,Gray,Fall,3.199219,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,60.0,Shoes,Footwear,58,South Carolina,M,Red,Summer,3.300781,No,2-Day Shipping,No,No,25,Debit Card,Annually
2664,51.0,Pants,Clothing,84,Illinois,M,Gray,Spring,3.900391,No,Next Day Air,No,No,14,PayPal,Bi-Weekly
2665,23.0,Gloves,Accessories,21,Minnesota,M,Magenta,Fall,3.900391,No,Store Pickup,No,No,14,Bank Transfer,Fortnightly
2666,20.0,Socks,Clothing,35,Oregon,L,Maroon,Summer,4.199219,No,Standard,No,No,46,Credit Card,Every 3 Months
2667,51.0,Sneakers,Footwear,43,Tennessee,M,Cyan,Summer,4.601562,No,Store Pickup,No,No,27,PayPal,Quarterly

## Bining

In [105]:
def report(n):
    if n=='Yes':
        return 1
    else:
        return 0

In [106]:
df['Discount Applied'].apply(report)

0       1
2       1
3       1
5       1
6       1
       ..
2663    0
2664    0
2665    0
2666    0
2667    0
Name: Discount Applied, Length: 2646, dtype: int64