### Data Manipulation

In [ ]:
1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [1]:
import numpy as np
import pandas as pd

In [2]:
students=pd.read_csv(r"C:\Users\pavan\Downloads\studens_data.csv")
students

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

### Find all Statistic Measures

In [3]:
students.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

### GPA

In [4]:
gpa=students['GPA']
gpa

0      73.47
1      71.22
2      74.56
3      72.89
4      70.11
       ...
100    88.34
101    89.84
102    88.82
103    86.60
104    93.71
Name: GPA, Length: 105, dtype: float64

In [6]:
gpa.median()

84.11

In [9]:
gpa.mean()

82.95704761904761

In [7]:
gpa.var()

36.64106716117215

In [8]:
range1=gpa.max()-gpa.mean()
range1

10.75295238095238

In [10]:
gpa.std()

6.053186529520807

In [11]:
q1=np.percentile(gpa,25)
q1

79.34

In [12]:
q2=np.percentile(gpa,50)
q2

84.11

In [13]:
q3=np.percentile(gpa,75)
q3

87.3

In [14]:
iqr=q3-q1
iqr

7.959999999999994

In [20]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [21]:
upperlimit

218.25

In [22]:
lowerlimit

-39.67

### Algebra

In [122]:
algebra=students['Algebra']
algebra

0      64
1      57
2      47
3      46
4      49
       ..
100    87
101    98
102    83
103    92
104    93
Name: Algebra, Length: 105, dtype: int64

In [124]:
algavg=algebra.mean()
algavg

76.05714285714286

In [25]:
algebra.median()

76.0

In [26]:
algebra.var()

137.41978021978022

In [27]:
algebra.std()

11.722618317585036

In [28]:
range2=algebra.max()-algebra.min()
range2

52

In [29]:
q1=np.percentile(algebra,25)
q1

67.0

In [31]:
q2=np.percentile(algebra,50)
q2

76.0

In [32]:
q3=np.percentile(algebra,75)
q3

84.0

In [33]:
iqr=q3-q1
iqr

17.0

In [34]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [35]:
upperlimit

210.0

In [36]:
lowerlimit

-33.5

### Calculus1

In [38]:
calculus1=students['Calculus1']
calculus1

0      81
1      50
2      48
3      72
4      45
       ..
100    83
101    77
102    80
103    82
104    97
Name: Calculus1, Length: 105, dtype: int64

In [125]:
calavg=calculus1.mean()
calavg

71.96190476190476

In [40]:
calculus1.median()

73.0

In [41]:
calculus1.var()

148.76776556776557

In [42]:
calculus1.std()

12.197039213176515

In [43]:
range3=calculus1.max()-calculus1.min()
range3

62

In [44]:
q1=np.percentile(calculus1,25)
q1

64.0

In [45]:
q2=np.percentile(calculus1,50)
q2

64.0

In [46]:
q3=np.percentile(calculus1,75)
q3

80.0

In [47]:
iqr=q3-q1
iqr

16.0

In [48]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [49]:
upperlimit

200.0

In [50]:
lowerlimit

-32.0

### Calculus2

In [53]:
calculus2=students['Calculus2']
calculus2

0      87
1      51
2      71
3      38
4      63
       ..
100    92
101    95
102    91
103    91
104    99
Name: Calculus2, Length: 105, dtype: int64

In [126]:
calavg2=calculus2.mean()
calavg2

78.94285714285714

In [55]:
calculus2.median()

83.0

In [56]:
calculus2.var()

224.91978021978022

In [57]:
calculus2.std()

14.997325768942282

In [58]:
range4=calculus2.max()-calculus2.min()
range4

82

In [59]:
q1=np.percentile(calculus2,25)
q1

71.0

In [60]:
q2=np.percentile(calculus2,50)
q2

83.0

In [61]:
q3=np.percentile(calculus2,75)
q3

91.0

In [62]:
iqr=q3-q1
iqr

20.0

In [63]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [64]:
upperlimit

227.5

In [65]:
lowerlimit

-35.5

### Statistics

In [67]:
statistics=students['Statistics']
statistics

0       60
1       51
2       60
3       60
4       60
      ...
100     98
101     98
102     98
103     99
104    100
Name: Statistics, Length: 105, dtype: int64

In [127]:
statavg=statistics.mean()
statavg

85.13333333333334

In [69]:
statistics.median()

87.0

In [70]:
statistics.var()

105.4628205128205

In [71]:
statistics.std()

10.269509263485793

In [197]:
range5=statistics.max()-statistics.mean()
range5

14.86666666666666

In [72]:
q1=np.percentile(statistics,25)
q1

80.0

In [73]:
q2=np.percentile(statistics,50)
q2

87.0

In [74]:
q3=np.percentile(statistics,75)
q3

92.0

In [75]:
iqr=q3-q1
iqr

12.0

In [76]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [77]:
upperlimit

230.0

In [78]:
lowerlimit

-40.0

### Probability

In [79]:
probability=students['Probability']
probability

0      74
1      55
2      61
3      29
4      66
       ..
100    93
101    96
102    93
103    94
104    97
Name: Probability, Length: 105, dtype: int64

In [128]:
probavg=probability.mean()
probavg

83.87619047619047

In [82]:
probability.median()

85.0

In [83]:
probability.var()

110.55183150183149

In [84]:
probability.std()

10.51436310490709

In [198]:
range6=probability.max()-probability.min()
range6

68

In [85]:
q1=np.percentile(probability,25)
q1

79.0

In [86]:
q2=np.percentile(probability,50)
q2

85.0

In [87]:
q3=np.percentile(probability,75)
q3

92.0

In [88]:
iqr=q3-q1
iqr

13.0

In [102]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [90]:
upperlimit

230.0

In [91]:
lowerlimit

-39.5

### Measure

In [92]:
measure=students['Measure']
measure

0      71
1      62
2      68
3      54
4      66
       ..
100    86
101    88
102    95
103    82
104    90
Name: Measure, Length: 105, dtype: int64

In [130]:
meaavg=measure.mean()
meaavg

80.76190476190476

In [94]:
measure.median()

81.0

In [95]:
measure.var()

106.01007326007326

In [96]:
measure.std()

10.296119330120122

In [199]:
range7=measure.max()-measure.min()
range7

46

In [97]:
q1=np.percentile(measure,25)
q1

74.0

In [98]:
q2=np.percentile(measure,50)
q2

81.0

In [100]:
q3=np.percentile(measure,75)
q3

89.0

In [101]:
iqr=q3-q1
iqr

15.0

In [103]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [104]:
upperlimit

222.5

In [105]:
lowerlimit

-37.0

### Functional_analysis

In [106]:
fa=students['Functional_analysis']
fa

0       60
1       61
2       64
3       51
4       61
      ...
100     90
101    100
102     71
103     78
104     90
Name: Functional_analysis, Length: 105, dtype: int64

In [131]:
faavg=fa.mean()
faavg

75.32380952380953

In [108]:
fa.median()

76.0

In [110]:
fa.var()

169.08644688644688

In [111]:
fa.std()

13.003324455170949

In [200]:
range8=fa.max()-fa.min()
range8

91

In [112]:
q1=np.percentile(fa,25)
q1

67.0

In [113]:
q2=np.percentile(fa,25)
q2

67.0

In [114]:
q3=np.percentile(fa,25)
q3

67.0

In [115]:
iqr=q3-q1
iqr

0.0

In [116]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [117]:
upperlimit

167.5

In [118]:
lowerlimit

-33.5

### Which subject has highest average ?

In [134]:
overallavg=np.array([algavg,calavg,calavg2,statavg,probavg,meaavg,faavg])
overallavg

array([76.05714286, 71.96190476, 78.94285714, 85.13333333, 83.87619048,
       80.76190476, 75.32380952])

In [207]:
overallavg.max()

85.13333333333334

### What are the Student IDs who got more tham 80% GPA?

In [150]:
students[(students['GPA']>80)]['ID']

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

### How many female students are there in the class?

In [164]:
females=students['gender'].value_counts()[0]
females

C:\Users\pavan\AppData\Local\Temp\ipykernel_16132\3301151098.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  females=students['gender'].value_counts()[0]

68

### What is the ratio of male students and female students?

In [165]:
males=students['gender'].value_counts()[1]
males

C:\Users\pavan\AppData\Local\Temp\ipykernel_16132\1753877816.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  males=students['gender'].value_counts()[1]

37

In [167]:
print(f"{males}:{females}")

37:68

### What are the marks of male students in statistics ?

In [174]:
students[(students['gender']=='male',)]['Statistics']

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

### What is the ID of the class topper ?

In [196]:
highgpa=gpa.max()
highgpa

93.71

In [193]:
maxgpa=students['GPA'].idxmax()
maxgpa

104

In [194]:

topper=students.loc[maxgpa,'ID']
topper

1245

### What is the gender of probabilty topper?

In [201]:
highprob=probability.max()
highprob

97

In [205]:
gender=students.loc[highprob,'gender']
gender

'male'

### Create Pivot Table for gender and class?

In [206]:
pd.crosstab(students['gender'],students['class'])

class    A   B
gender
female  48  20
male    28   9

### Which subject got least average marks.

In [208]:
overallavg.min()

71.96190476190476

### How many male and female students are there ?

In [210]:
students['gender'].value_counts()

gender
female    68
male      37
Name: count, dtype: int64

### How many female student are there from class A?

In [223]:
fema=students[(students['gender']=='female') & (students['class']=='A')]['gender']
fema.count()

48

### Which class has more strength ?

In [224]:
class1=students['class']
class1

0      A
1      A
2      A
3      A
4      A
      ..
100    A
101    B
102    B
103    A
104    A
Name: class, Length: 105, dtype: object

In [225]:
class1.value_counts()

class
A    76
B    29
Name: count, dtype: int64

### Sort the data as per algebra ?

In [227]:
students.sort_values('Algebra',ascending=False)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
101,1242,B,male,89.84,98,77,95,98,96,88,100
97,1238,A,male,91.14,98,90,98,97,83,93,89
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
...,...,...,...,...,...,...,...,...,...,...,...
5,1146,A,male,65.04,60,60,39,61,65,74,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
4,1145,A,female,70.11,49,45,63,60,66,66,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51

### How many students got exactly 64 marks from functional analysis?

In [233]:
fa64=students['Functional_analysis']==64 
fa64

0      False
1      False
2       True
3      False
4      False
       ...
100    False
101    False
102    False
103    False
104    False
Name: Functional_analysis, Length: 105, dtype: bool

In [235]:
total=students.loc[fa64,'Functional_analysis']
total

2     64
14    64
18    64
19    64
26    64
34    64
46    64
48    64
Name: Functional_analysis, dtype: int64

In [236]:
total.count()

8