1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

## Ask user to enter a website name and check whether it is valid or not(True/False)

In [2]:
name=input("enter any website name")
(name.startswith("www")) and (name.endswith(".com"))

enter any website namewww.innomatics.com

True

## name = "Innomatics", course = "Data Science" write python code in different ways to show output as : "Hello World I am learning Data Science in Innomatics"

In [3]:
name="innomatics"
course="data science"
print("hello world i am learning",course,"in",name)

hello world i am learning data science in innomatics

In [4]:
print("hello world iam learning {0} in {1}".format(course,name))

hello world iam learning data science in innomatics

In [5]:
print(f"hello world iam learning {course} in {name}" )

hello world iam learning data science in innomatics

## Replace Science with Analysis in the above output.

In [6]:
new="Hello world iam learning data science in innomatics"

In [7]:
new.replace("science","Analysis")

'Hello world iam learning data Analysis in innomatics'

## string = '     Hello World I am learning Python in Innomatics   ' a. How many characters are there in the string. b. Slice only 'Python' from above string c. Remove white spaces on both sides then find no.of characters in the string. d. Convert the string in Upper case

In [13]:
string=' hello world i am learning python in innomatics '

In [17]:
#a.
len(string)

48

In [14]:
#b.
string[27:33]

'python'

In [19]:
string.strip()

'hello world i am learning python in innomatics'

In [20]:
len(string)

48

In [21]:
string.upper()

' HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS '

## What is the index number of 'World' in above string.

In [22]:
string.index("world")

7

## Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable.

In [25]:
a= string.split()
print(a)

['hello', 'world', 'i', 'am', 'learning', 'python', 'in', 'innomatics']

In [26]:
type(a)

list

## How many times 'a' is repeated in above string.

In [27]:
string.count('a')

3