

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

## Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [1]:
fruits=("apple","orange","guava","water melon","banana")
print(fruits)

('apple', 'orange', 'guava', 'water melon', 'banana')

## Assignment Task 2: Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [9]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)
tup3=tup1+tup2
tup3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
len(tup3)

10

## Assignment Task 3: Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [11]:
even={2,4,6,8,10}
print(even)

{2, 4, 6, 8, 10}

## Assignment Task 4: Set Operations : Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [20]:
a={1,2,3,4,5}
b={4,5,6,7,8,9,10}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
f={"apple","banana","mango","orange"}
t={"orange","mango","grapes","guava"}

In [19]:
f.intersection(t)

{'mango', 'orange'}

In [21]:
a.difference(b)

{1, 2, 3}

## Assignment Task 5: Tuple and Set : Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [23]:
num=(1,2,3,4,5,6)
num1=set(num)
num1

{1, 2, 3, 4, 5, 6}

In [24]:
max(num1)

6

In [25]:
min(num1)

1

## Assignment Task 6: Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

### 1.Immutability is known as property of a thing that cannot be changed
### 2.Tuples are immutable because once you create a tuple you cannot modify it without creating a tuple

In [26]:
# example
tup=(1,5,4)
tup[0]=2

TypeError: 'tuple' object does not support item assignment

In [27]:
tup1=(2,3)
tup+tup1

(1, 5, 4, 2, 3)

### Tuples are immutable and it can provide safety by ensuring not changing values

## Assignment Task 7: Set Operations and Methods: Write a Python program that takes a set of numbers and performs the following operations:

* Add a new number to the set.
* Remove a number from the set.
* Check if a specific number is in the set.
* Find the size of the set.

In [30]:
a={1,2,3,4,5,6}

In [31]:
a.add(7)
a

{1, 2, 3, 4, 5, 6, 7}

In [32]:
a.remove(7)
a

{1, 2, 3, 4, 5, 6}

In [33]:
len(a)

6

In [34]:
5 in a

True

## Assignment Task 8: Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [36]:
number=(1,2,3,4,5,6,7,8,9,10)
number[3:8]

(4, 5, 6, 7, 8)

## Assignment Task 9: Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [37]:
list1=[1,2,3,4,5,4,6,6,7]
set1=set(list1)
set1

{1, 2, 3, 4, 5, 6, 7}

In [38]:
duplicates=len(list1)-len(set1)
duplicates

2

## Assignment Task 10: Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [42]:
friendsmovies=("pokiri","jalsa","Bahubali","indra")

In [43]:
mymovies={"pokiri","okkadu","jalsa","vikram"}

In [46]:
commonmovies=set(friendsmovies).intersection(mymovies)
commonmovies

{'jalsa', 'pokiri'}