1. **Basic List Comprehension:**
   Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2. **Filtering with List Comprehension:**
   Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3. **String Manipulation with List Comprehension:**
   Given a list of strings, create a new list using list comprehension that contains the lengths of each string.


4. **List Comprehension with Conditionals:**
   Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers 


5. **Pattern Printing**

    Write a Python program that takes an integer 'n' as input and prints the following pattern:

    For `n = 4`, the pattern should look like this:

    ```
    1
    1 2
    1 2 3
    1 2 3 4
    ```

6. **Multiplication Table**

      Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if `n = 5`, the output should be:

    ```
    5 x 1 = 5
    5 x 2 = 10
    5 x 3 = 15
    5 x 4 = 20
    5 x 5 = 25
    5 x 6 = 30
    5 x 7 = 35
    5 x 8 = 40
    5 x 9 = 45
    5 x 10 = 50
    ```

7. **Star Patterns**

    Write a Python program that takes an integer 'n' as input and prints the following patterns:

    a) Right-angled triangle pattern:
    ```
    *
    **
    ***
    ****
    *****
    ```

    b) Inverted right-angled triangle pattern:
    ```
    *****
    ****
    ***
    **
    *
    ```


8. **Number Pyramid**

    Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

    For `n = 4`, the output should be:

    ```
       1
      212
     32123
    4321234
    ```

## Basic List Comprehension: Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

In [2]:
num=range(0,11)
[i**3 for i in num]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Filtering with List Comprehension: Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

In [4]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[i for i in list1 if i%3==0 or i%5==0]
list2

[3, 5, 6, 9, 10]

## String Manipulation with List Comprehension: Given a list of strings, create a new list using list comprehension that contains the lengths of each string

In [6]:
strlist=["brinjal","mango","orange","banana","kiwi"]
lenlist=[len(i) for i in strlist]
lenlist

[7, 5, 6, 6, 4]

## List Comprehension with Conditionals: Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers

In [8]:
numbers=list(range(0,21))
numbers2=[i**2 for i in numbers if i%2==0]
numbers2

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

## Write a Python program that takes an integer 'n' as input and prints the following pattern:

### For n = 4, the pattern should look like this:

### 1
### 1 2
### 1 2 3
### 1 2 3 4

In [20]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter number of rows: 4
1
1 2
1 2 3
1 2 3 4

Multiplication Table

Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if n = 5, the output should be:

```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
```

In [29]:
n=int(input("enter number: "))
for i in range(1,11):
    table=n*i
    print(f"{n}*{i}={table}")

enter number: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

## Write a Python program that takes an integer 'n' as input and prints the following patterns:

## a) Right-angled triangle pattern:

### *
### **
#### ***
#### ****
#### *****

In [30]:
for i in range(1,6):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

## b) Inverted right-angled triangle pattern:

In [31]:
for i in range(5,0,-1):
    print("* "*i)

* * * * *
* * * *
* * *
* *
*

Number Pyramid

Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

For n = 4, the output should be:

   1
  212
 32123
4321234

In [1]:
n = int(input("enter a no of rows::"))
for i in range(1,n+1):
    for j in range(1,n-i+1):   
        print(end = " ")
    for j in range(i,0,-1):
        print(j,end = "")      
    for j in range(2,i+1):
        print(j,end = "")      
    print()

enter a no of rows::4
   1
  212
 32123
4321234