Assignment Tasks on String Escape Characters, Indexing, and Slicing:

**String Escape Characters:**

Task 1:
1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

Task 2:
1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

Task 3:
1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

**Indexing and Slicing:**

Task 4:
1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

Task 5:
1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

Task 6:
1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

Task 7:
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

Task 8:
1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

Task 9:
1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

Task 1:

* Create a string containing a sentence that includes both single and double quotes.
* Use escape characters to include quotes within the string.
* Print the modified string.

In [2]:
1
string="pavan is a 'data analyst' and 'sql developer' also"

In [3]:
print(string)

pavan is a 'data analyst' and 'sql developer' also

In [6]:
string="pavan is a \"data analyst\" and \"sql developer\" also"

In [7]:
print(string)

pavan is a "data analyst" and "sql developer" also

Task 2:

* Declare a string with a backslash \ character in it.
* Demonstrate the use of the escape character to print the backslash itself.
* Print the resulting string.

In [8]:
text="i can insert \\"

In [9]:
print(text)

i can insert \

Task 3:

* Construct a string containing newline and tab escape sequences.
* Print the string to display the formatted output.

In [10]:
new_string=("hello\tmy\tname\tis\tpavan\niam\tlearning\tpython")

In [11]:
print(new_string)

hello	my	name	is	pavan
iam	learning	python

Task 4:

* sentence = "I want to become Data Scientist".
* Access and print the first character of the string using indexing.
* Access and print the last character of the string using negative indexing.

In [12]:
sentence = "I want to become Data Scientist"

In [13]:
sentence[0]

'I'

In [14]:
sentence[-1]

't'

Task 5:

* What are possible ways yo extract Scientist(use forward and reverse)
* Use slicing to extract and print the first word from the string.
* Use slicing to extract and print the last three characters of the string.

In [15]:
sentence = "I want to become Data Scientist"

In [16]:
sentence[22:31:1]

'Scientist'

In [17]:
sentence[31:22:-1]

'tsitneic'

In [26]:
sentence[0:1]

'I'

In [28]:
sentence[28:31]

'ist'

Task 6:

* name = "Innomatics Reserach Labs"
* Apply slicing to extract a substring that includes the second to fifth characters.
* Print the extracted substring.

In [29]:
name = "Innomatics Reserach Labs"

In [30]:
name[2:5]

'nom'

Task 7:

* string = "Python@1234"
* Use slicing to extract every second character from the string.
* Print the resulting sliced string.

In [31]:
string = "Python@1234"

In [32]:
string[::2]

'Pto@24'

Task 8:

* print last five letters.
* Utilize slicing to reverse the word order in the string.
* Print the string with the words in the reversed order.

In [33]:
string = "Python@1234"

In [34]:
string[11::-1]

'4321@nohtyP'

Task 9:

* a = "123123123"
* Apply slicing to extract only the numeric characters at odd positions.
* Print the sliced result.

In [39]:
a = "123123123"

In [40]:
a[1:9:2]

'2132'